<h1>Listing mail_users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_users.each do |mail_user| %>
      <tr>
        <td><%= mail_user.name %></td>
        <td><%= mail_user.email %></td>
        <td><%= mail_user.login %></td>
        <td><%= link_to 'Show', mail_user %></td>
        <td><%= link_to 'Edit', edit_mail_user_path(mail_user) %></td>
        <td><%= link_to 'Destroy', mail_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail user', new_mail_user_path %>
